<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lehuo"
    android:versionCode="1"
    android:versionName="1.0" >

     <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    
    <uses-sdk
        android:minSdkVersion="9"
        android:targetSdkVersion="18" />

    <application
        android:name="com.lehuo.MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.Black.NoTitleBar" >
        <uses-library  android:name ="android.test.runner"/>
        <activity 
            android:name="com.lehuo.ui.login.LoginActivity"
            android:windowSoftInputMode="adjustResize|stateHidden">
              <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity 
            android:name="com.lehuo.ui.tab.HubActivity">
           
        </activity>
        <activity android:name="com.lehuo.ui.product.ProductListActivity"></activity>
        <activity android:name="com.lehuo.ui.product.ProductDetailActivity"></activity>
        <activity android:name="com.lehuo.ui.login.PersonInfoCreateActivity">
            
        </activity>
        <activity android:name="com.lehuo.ui.login.RegistCodeActivity"></activity>
        <activity android:name="com.lehuo.ui.login.RegistPhoneActivity"></activity>
        <activity android:name="com.lehuo.ui.product.MyCartActivity"></activity>
        <activity android:name="com.lehuo.ui.tab.order.ConfirmOrderActivity"></activity>
        <activity android:name="com.lehuo.ui.tab.order.MyAddressActivity"></activity>
        <activity android:name="com.lehuo.ui.tab.order.AddAddressActivity"></activity>
        
    </application>
	<instrumentation android:name="android.test.InstrumentationTestRunner" 
        android:targetPackage="com.lehuo" android:label="Testing" />
    
</manifest>
