<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lehuozu"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!-- <permission android:name="android.permission.BAIDU_LOCATION_SERVICE" />
    <uses-permission android:name="android.permission.BAIDU_LOCATION_SERVICE" /> -->
    <!-- <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <uses-permission android:name="android.permission.ACCESS_MOCK_LOCATION" /> -->
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <!--  -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-sdk
        android:minSdkVersion="9"
        android:targetSdkVersion="18" />

    <application
        android:name="com.lehuozu.MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.Black.NoTitleBar" >
        <uses-library android:name="android.test.runner" />

        <activity
            android:name="com.lehuozu.ui.login.LoginActivity"
            android:windowSoftInputMode="adjustResize|stateHidden" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.lehuozu.ui.tab.HubActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity android:name="com.lehuozu.ui.product.ProductListActivity" >
        </activity>
        <activity android:name="com.lehuozu.ui.product.ProductDetailActivity" >
        </activity>
        <activity android:name="com.lehuozu.ui.login.PersonInfoCreateActivity" >
        </activity>
        <activity
            android:name="com.lehuozu.ui.login.RegistCodeActivity"
            android:windowSoftInputMode="adjustResize|stateHidden" >
        </activity>
        <activity android:name="com.lehuozu.ui.login.RegistPhoneActivity" 
            android:windowSoftInputMode="adjustResize|stateHidden" >
        </activity>
        <activity android:name="com.lehuozu.ui.product.MyCartActivity" >
        </activity>
        <activity android:name="com.lehuozu.ui.tab.order.ConfirmOrderActivity" >
        </activity>
        <activity android:name="com.lehuozu.ui.address.MyAddressActivity" >
        </activity>
        <activity android:name="com.lehuozu.ui.address.AddAddressActivity" >
        </activity>
        <activity android:name="com.lehuozu.ui.courier.DeliverListActivity" >
        </activity>
        <activity
          android:name="com.lehuozu.ui.product.CommentActivity"
            android:windowSoftInputMode="stateAlwaysVisible" >
        </activity>
        <activity
      android:name="com.lehuozu.ui.tab.my.MyCouponActivity" >
        </activity>
        <activity
      android:name="com.lehuozu.ui.tab.my.ScoreMarcketActivity" >
        </activity>
        <activity android:name="com.lehuozu.ui.common.ViewpagerActivity" >
        </activity>
        <activity
            android:name="com.baidumap.GeoCoderActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.lehuozu.ui.login.FindPasswordActivityrdActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.lehuozu.ui.login.FindPasswordDoActivityDoActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.baidumap.LocationOverlayActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity android:name="com.lehuozu.ui.tab.more.FocusActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity android:name="com.lehuozu.ui.tab.more.AboutUsActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity android:name="com.lehuozu.ui.product.LongImgActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity android:name="com.lehuozu.ui.StartActivity"
            android:screenOrientation="portrait" >
        </activity>

        <service
            android:name="com.lehuozu.net.location.LocationService"
            android:enabled="true"
            android:exported="false" >
            <intent-filter>
                <action android:name="com.lehuo.Location" />
            </intent-filter>
        </service>
		<service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:permission="android.permission.BAIDU_LOCATION_SERVICE"
            android:process=":remote" >
            <intent-filter>
                <action android:name="com.baidu.location.service_v2.4" >
                </action>
            </intent-filter>
        </service>
        
    </application>

    <instrumentation
        android:name="android.test.InstrumentationTestRunner"
        android:label="Testing"
        android:targetPackage="com.lehuo" />

</manifest>